<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8" />
	<title>TodoList</title>
	<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<script type="importmap">
			{
				"imports": {
					"react": "https://cdn.jsdelivr.net/npm/react@19.1.0/+esm",
					"react-dom/client": "https://cdn.jsdelivr.net/npm/react-dom@19.1.0/client/+esm",
					"clsx": "https://cdn.jsdelivr.net/npm/clsx@2.1.0/+esm",
					"tailwind-merge": "https://cdn.jsdelivr.net/npm/tailwind-merge@2.3.0/+esm",
					"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
				}
			}
		</script>
</head>

<body class="min-h-screen bg-gray-50">
	<div class="flex flex-col gap-y-8 md:flex-row">
		<div id="r-id" class="md:w-1/2"></div>
		<div id="v-id" class="md:w-1/2"></div>
	</div>

	<script type="module">
		import { twMerge } from 'tailwind-merge';
		import { clsx } from 'clsx';

		window.uuid = function uuid() {
			return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (c) => {
				const r = (Math.random() * 16) | 0;
				const v = c === 'x' ? r : (r & 0x3) | 0x8;
				return v.toString(16);
			});
		};

		window.cn = function cn(...inputs) {
			return twMerge(clsx(inputs));
		};
	</script>

	<script type="text/babel" data-type="module">
		import React from 'react';
		import { createRoot } from 'react-dom/client';

		function TodoItem({ onChange, ...props }) {
			const [state, setState] = React.useState(props);

			const onToggle = () => {
				onChange?.({
					...state,
					select: !state.select,
					newId: uuid()
				});
			};

			const onSave = () => {
				onChange?.({
					...state,
					isEdit: false,
					newId: uuid()
				});
			};

			const onCancel = () => {
				setState((prev) => ({
					...prev,
					isEdit: false,
					content: props.content
				}));
			};

			const onEdit = () => {
				setState((prev) => ({
					...prev,
					isEdit: true
				}));
			};

			const onRemove = () => {
				onChange?.(null);
			};

			return (
				<li className={cn('flex w-full items-center gap-2 rounded-lg border border-gray-300 bg-white p-2', state.select && 'bg-green-100')}>
					<input
						className='h-4 w-4 rounded-sm border border-gray-300 bg-gray-100 text-blue-600 focus:ring-blue-500'
						type='checkbox'
						checked={state.select}
						onChange={onToggle}
					/>

					<div className='flex-1'>
						{state.isEdit ? (
							<input
								className='w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:border-blue-500 focus:ring-blue-500'
								autoComplete='off'
								value={state.content}
								onInput={event => setState(prev => ({ ...prev, content: event.target.value }))}
							/>
						) : (
							<div className={state.select && 'line-through'}>{state.content}</div>
						)}
					</div>

					{state.isEdit ? (
						<>
							<span className='cursor-pointer rounded px-2 py-1 hover:bg-gray-100' onClick={onSave}>
								✅
							</span>
							<span className='cursor-pointer rounded px-2 py-1 hover:bg-gray-100' onClick={onCancel}>
								❌
							</span>
						</>
					) : (
						<>
							<span className='cursor-pointer rounded px-2 py-1 hover:bg-gray-100' onClick={onEdit}>
								✏️
							</span>
							<span className='cursor-pointer rounded px-2 py-1 hover:bg-gray-100' onClick={onRemove}>
								🗑️
							</span>
						</>
					)}
				</li>
			);
		}

		function App() {
			const [list, setList] = React.useState([
				{ id: 1, select: false, content: '代办事项1', isEdit: false },
				{ id: 2, select: false, content: '代办事项2', isEdit: false },
				{ id: 3, select: false, content: '代办事项3', isEdit: false }
			]);

			const completed = list.filter((item) => item.select).length;
			const uncompleted = list.filter((item) => !item.select).length;
			const checkedAll = list.every(item => item.select)

			const handleAddTodo = (form) => {
				const todo = form.get('todo');
				if (todo) {
					setList((prev) => [
						...prev,
						{
							id: prev.length + 1,
							select: false,
							content: todo,
							isEdit: false
						}
					]);
				}
			};

			const handleChange = (item, originalId) => {
				setList((prev) => {
					const i = prev.findIndex((each) => each.id === item.id);
					prev[i] = item;
					return [...prev].filter(Boolean);
				});
			};

			const handleSelectAll = (event) => {
				setList((prev) =>
					prev.map((item) => {
						item.select = event.target.checked;
						item.newId = uuid();
						return item;
					})
				);
			}


			return (
				<div className='mx-auto w-full max-w-xl space-y-6 p-6'>
					<h1 className='text-center text-2xl font-bold'>React 待办事项列表</h1>

					<form className='flex items-center gap-3' action={handleAddTodo}>
						<input
							className='h-4 w-4 rounded-sm border border-gray-300 bg-gray-100 text-blue-600 focus:ring-blue-500'
							type='checkbox'
							checked={checkedAll}
							onChange={handleSelectAll}
						/>

						<input
							className='flex-1 rounded-lg border border-gray-300 bg-white px-4 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none'
							name='todo'
							autoComplete='off'
							placeholder='请输入事项...'
						/>
						<button className='rounded-lg bg-blue-600 px-4 py-2 font-semibold text-white shadow hover:bg-blue-700' type='submit'>
							添加
						</button>
					</form>

					<ul className='w-full space-y-2'>
						{list.map(item => (
							<TodoItem key={item.newId ?? item.id} {...item} onChange={event => handleChange(event, item.id)} />
						))}
					</ul>

					<div className='w-full rounded-lg bg-gray-100 p-4 shadow-md'>
						<h2 className='font-medium'>数组状态统计：</h2>
						<p>• 数组长度: {list.length}</p>
						<p>• 已完成: {completed}</p>
						<p>• 待完成: {uncompleted}</p>
						<p>• 完成率: {Math.floor((completed / list.length) * 100)}%</p>
					</div>
				</div>
			);
		}

		createRoot(document.getElementById('r-id')).render(<App />);
	</script>

	<script type="module">
		import { createApp, defineComponent, ref, reactive, computed } from 'vue';

		const TodoItem = defineComponent({
			emits: ['change'],
			setup(props, { emit, attrs }) {
				const state = reactive({ ...attrs });

				const onToggle = () => {
					emit('change', {
						...state,
						select: !state.select,
						newId: uuid()
					});
				};

				const onSave = () => {
					emit('change', {
						...state,
						isEdit: false,
						newId: uuid()
					});
				};

				const onCancel = () => {
					Object.assign(state, {
						isEdit: false,
						content: attrs.content
					});
				};

				const onEdit = () => {
					Object.assign(state, {
						isEdit: true
					});
				};

				const onRemove = () => {
					emit('change', null);
				};

				return {
					state,
					onToggle,
					onSave,
					onCancel,
					onEdit,
					onRemove,
					cn
				};
			},
			template: `
				<li :class="cn('flex w-full items-center gap-2 rounded-lg border border-gray-300 bg-white p-2', state.select && 'bg-green-100')">
					<input
						class="h-4 w-4 rounded-sm border border-gray-300 bg-gray-100 text-blue-600 focus:ring-blue-500"
						type="checkbox"
						:checked="state.select"
						@change="onToggle"
					/>

					<div class="flex-1">
						<input
							v-if="state.isEdit"
							v-model="state.content"
							class="w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:border-blue-500 focus:ring-blue-500"
							autoComplete="off"
						/>
						<div v-else :class="state.select && 'line-through'">{{ state.content }}</div>
					</div>

					<template v-if="state.isEdit">
						<span class="cursor-pointer rounded px-2 py-1 hover:bg-gray-100" @click="onSave">✅</span>
						<span class="cursor-pointer rounded px-2 py-1 hover:bg-gray-100" @click="onCancel">❌</span>
					</template>

					<template v-else>
						<span class="cursor-pointer rounded px-2 py-1 hover:bg-gray-100" @click="onEdit">✏️</span>
						<span class="cursor-pointer rounded px-2 py-1 hover:bg-gray-100" @click="onRemove">🗑️</span>
					</template>
				</li>
				`
		});

		const App = defineComponent({
			components: { TodoItem },
			setup() {
				const list = ref([
					{ id: 1, select: false, content: '代办事项1', isEdit: false },
					{ id: 2, select: false, content: '代办事项2', isEdit: false },
					{ id: 3, select: false, content: '代办事项3', isEdit: false }
				]);

				const completed = computed(() => list.value.filter((i) => i.select).length);
				const uncompleted = computed(() => list.value.length - completed.value);
				const checkedAll = computed(() => list.value.every(item => item.select))

				const handleAddTodo = (event) => {
					const from = new FormData(event.target);
					const todo = from.get('todo');
					if (todo) {
						list.value.push({
							id: list.value.length + 1,
							select: false,
							content: todo,
							isEdit: false
						});
						event.target.reset();
					}
				};

				const handleChange = (item, originalId) => {
					const index = list.value.findIndex((i) => i.id === originalId);
					if (item) {
						list.value[index] = item;
					} else {
						list.value.splice(index, 1);
					}
				};

				const handleSelectAll = (event) => {
					list.value = list.value.map((item) => {
						item.select = event.target.checked;
						item.newId = uuid();
						return item;
					});
				};

				return {
					list,
					completed,
					uncompleted,
					checkedAll,
					handleAddTodo,
					handleChange,
					handleSelectAll
				};
			},
			template: `
						<div class="mx-auto w-full max-w-xl space-y-6 p-6">
							<h1 class="text-center text-2xl font-bold">Vue 待办事项列表</h1>

							<form class="flex items-center gap-3" @submit.prevent="handleAddTodo">
								<input
									class="h-4 w-4 rounded-sm border border-gray-300 bg-gray-100 text-blue-600 focus:ring-blue-500"
									type="checkbox"
									:checked="checkedAll"
									@change="handleSelectAll"
								/>
								<input
									class="flex-1 rounded-lg border border-gray-300 bg-white px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
									name="todo"
									autoComplete="off"
									placeholder="请输入事项..."
								/>
								<button class="rounded-lg bg-blue-600 px-4 py-2 font-semibold text-white shadow hover:bg-blue-700" type="submit">添加</button>
							</form>

							<ul class="w-full space-y-2">
								<todo-item v-for="item in list" :key="item.newId ?? item.id" v-bind="item" @change="handleChange($event, item.id)" />
							</ul>

							<div class="w-full rounded-lg bg-gray-100 p-4 shadow-md">
								<h2 class="font-medium">数组状态统计：</h2>
								<p>• 数组长度: {{ list.length }}</p>
								<p>• 已完成: {{ completed }}</p>
								<p>• 未完成: {{ uncompleted }}</p>
								<p>• 完成率: {{ Math.floor((completed / list.length) * 100) }}%</p>
							</div>
						</div>
				`
		});

		createApp(App).mount('#v-id');
	</script>
</body>

</html>
